<div class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/afnan.png" alt="Afnan">
    </div>
    <div>
      <div class="name">
        Afnan
      </div>
      <div class="meta">
        Local Guide &bull; 15 reviews &bull; 6 photos
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    I've been training at Raven and it’s been fantastic. Dmytro is great at teaching, breaking down complex techniques into simple steps that everyone can understand. I always look forward to class and appreciate the great atmosphere at the gym.
  </div>
</div>
