<a href="https://share.google/xQgz864sfgXOkOw3z" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/aj.png" alt="A J Nossa">
    </div>
    <div>
      <div class="name">
        A J Nossa
      </div>
      <div class="meta">
        2 reviews
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    The coach is very patient, kind, knowledgeable, adapts teaching to the student level, creates a safe and fun environment, and he supports students that want to participate in tournaments.
  </div>
</a>
