<a href="https://share.google/n1aqbasMABhiW336J" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/alex.png" alt="Alex jinwoong Jang">
    </div>
    <div>
      <div class="name">
        Alex jinwoong Jang
      </div>
      <div class="meta">
        5 reviews &bull; 3 photos
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    Absolutely 5 stars. My boy is learning grappling here with Coach Dmytro and 100% satisfy no daubt. They are keeping encourange my boy not only physical skills but also mutual respect. In addtion the studio is super clean and well maintained facility.
  </div>
</a>
