<div class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/ali.png" alt="Ali Razvi">
    </div>
    <div>
      <div class="name">
        Ali Razvi
      </div>
      <div class="meta">
        Local Guide &bull; 23 reviews &bull; 1 photo
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      2 years ago
    </span>
  </div>
  <div class="text">
    As a visitor, I was attracted to Raven Grappling because the website, schedule, pricing, etc. are clear (unlike many other gyms). Having attended, I was impressed by Dmytro's expertise in other martial arts, such as wrestling and judo, which he draws from to coach BJJ. I believe this leads to a far more effective BJJ style.<br/>
    Additionally, the facility is clean, open-feeling, and there are towels ever available for drying off after a tiring round.
  </div>
</div>
