<div class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/amy.png" alt="Amy Jones">
    </div>
    <div>
      <div class="name">
        Amy Jones
      </div>
      <div class="meta">
        Local Guide &bull; 5 reviews
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    My son absolutely loves his BJJ at Raven grappling. It is always very clean and inviting, coach is amazing and very supportive. We recommend this place to everyone
  </div>
</div>
