<a href="https://share.google/lOaoTeF1LLyR5AChk" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/asif.png" alt="Asif Mammadov">
    </div>
    <div>
      <div class="name">
        Asif Mammadov
      </div>
      <div class="meta">
        Local Guide &bull; 20 reviews &bull; 7 photos
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      2 years ago
    </span>
  </div>
  <div class="text">
    I started my BJJ journey here after a recommendation from a friend. Aside from being a nice human being, Dmytro has a very effective teaching style and explains things very clearly. I really like the community as well. Everyone is eager to help each other learn and improve.
  </div>
</a>
