<div class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/gerald.png" alt="Gerald Uy (Chao)">
    </div>
    <div>
      <div class="name">
        Gerald Uy (Chao)
      </div>
      <div class="meta">
        1 review
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      2 years ago
    </span>
  </div>
  <div class="text">
    One of the best places to train Brazilian Jiujitsu/grappling. The gym is well lighted and clean. Coach Dmytro is a top notch instructor. He has classes for beginners that follows a curriculum. For advance practitioners, his keen attention to details and concepts will definitely elevate your game.
  </div>
</div>
