<a href="https://share.google/hYvOkGTecuP2unhXz" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/hart.png" alt="Hart Smith">
    </div>
    <div>
      <div class="name">
        Hart Smith
      </div>
      <div class="meta">
        2 reviews
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      2 years ago
    </span>
  </div>
  <div class="text">
    Dmytro is a patient and knowledgeable teacher who has cultivated an amazing and friendly community, with a clean and professional studio to train in! I have improved so much since I started training here.
  </div>
</a>
