<div class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/ivan.png" alt="Ivan Mikhanchuk">
    </div>
    <div>
      <div class="name">
        Ivan Mikhanchuk
      </div>
      <div class="meta">
        8 reviews &bull; 5 photos
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      2 years ago
    </span>
  </div>
  <div class="text">
    Perfect place to start learning brazilian jiu jitsu! The coach Dmytro is very attentive and knowledgeable, I have been enjoying my classes a lot.<br/>
    The place itself is new and fresh, very pleasant to exercise in. 10/10 would recommend!
  </div>
</div>
