<a href="https://share.google/ld28UP74Dbs2rpxGR" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/marat.png" alt="Marat A.">
    </div>
    <div>
      <div class="name">
        Marat A.
      </div>
      <div class="meta">
        1 review
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    My child has been training at Raven Grappling for 3 months now, and he absolutely loves it. The coach is excellent at explaining techniques in detail and communicates really well with the kids. The facility is always clean and well-ventilated. I highly recommend this place for anyone looking for a great grappling gym!
  </div>
</a>
