<a href="https://share.google/fn21Tpi4Mt8XcFzPp" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/nikita.png" alt="Nikita Volynets">
    </div>
    <div>
      <div class="name">
        Nikita Volynets
      </div>
      <div class="meta">
        7 reviews &bull; 4 photos
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    I've been attending BJJ classes at Raven for about two months now, and it's been an amazing experience. The atmosphere is really welcoming, and everyone I've trained with has been super friendly. Coach Dmytro is an excellent teacher—he explains things clearly and always takes the time to answer our questions in detail. Most importantly, I can feel myself improving; I'm starting to incorporate more BJJ techniques into my drills. 100% Recommendation!
  </div>
</a>
