<a href="https://share.google/9jsFDFnV4G6hEtVaa" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/rt.png" alt="r t">
    </div>
    <div>
      <div class="name">
        r t
      </div>
      <div class="meta">
        Local Guide &bull; 19 reviews &bull; 2 photos
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    The best martial arts classes you can get your kid into. Amazing coach and very clean safe space! Our 6year old son has been consistently improving his skills in grappling and learned how to win as well as how to loose and respect others. The value you get for the monthly fee is incomparable too.
  </div>
</a>
