<a href="https://share.google/ghNHYeEF9cJ0lMfy7" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/stefan.png" alt="Stefan G">
    </div>
    <div>
      <div class="name">
        Stefan G
      </div>
      <div class="meta">
        1 review
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    Raven Grappling is a great gym that offers both gi & no-gi classes. Dmytro himself demonstrates passion and care when instructing his classes. I recommend this gym to any adults looking to learn or improve their Jiu-Jitsu skills. Very welcoming place while getting a great workout in.
  </div>
</a>
