<div class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/vh.png" alt="V H">
    </div>
    <div>
      <div class="name">
        V H
      </div>
      <div class="meta">
        5 reviews
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      a year ago
    </span>
  </div>
  <div class="text">
    Both my kids (9 and 5) have been at Raven Grappling for 5 months now and they love it there. It's a place for them to learn the arts and have fun at the same time. Would definitely recommend Raven Grappling..
  </div>
</div
