<a href="https://share.google/LFnGLjAbapeYf8aNi" target="_blank" class="review">
  <div class="reviewer">
    <div class="avatar">
      <img src="/assets/images/reviews/will.png" alt="Will">
    </div>
    <div>
      <div class="name">
        Will
      </div>
      <div class="meta">
        Local Guide &bull; 18 reviews &bull; 1 photo
      </div>
    </div>
  </div>
  <div class="stars">
    {% for i in (1..5) %} {% include svg/star.svg %} {% endfor %}
    <span class="timestamp">
      2 years ago
    </span>
  </div>
  <div class="text">
    Dmytro is a phenomenal instructor. He values your time and structures classes to maximize the amount you can learn per class. After years of training jiu jitsu on and off, I had never made as quick of progress as I have at Raven Grappling under Dmytro.<br/>
    The culture and community makes anyone feel welcome on the mat. The new facility is clean and professional. I highly recommend Raven grappling for beginners and more experienced practitioners alike.
  </div>
</a>
