---
title: Welcome To Raven Grappling
layout: default
---



<div class="container-fluid rg-landing-raven">
  <div class="container">
    <h1 class="display-3 fw-bold rg-welcome">Raven Grappling: Providing A Modern Martial Arts Experience</h1>
    <h1 class="display-5 fw-bold mb-1 rg-welcome"> Austin Heights, Coquitlam</h1>
    <div class="fs-5 fw-bold mb-5 rg-welcome">(5 min from Lougheed Town Centre)</div>
    <a href="/memberships" class="rg-button">Get Started Now</a>
  </div>
</div>



<form class="max-w-sm mx-auto" method="post" action="https://gymdesk.com/contact/form">
  <input type="hidden" name="form_id" value="Ddr5L">
	<input type="hidden" name="external" value="1">
	<input type="hidden" name="gym" value="A91kn">
	<input type="hidden" name="post_submit_redirect_url" value="https://google.com">

	<div class="rg-form-field">
	  <input class="rg-form-input" type="text" name="name" class="peer"/>
		<label class="rg-form-label" for="name">
		  Your name
		</label>
	</div>

    <div class="mb-5">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Your name</label>


      <input type="text" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div>
    <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
        <input type="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div>
    <div class="mb-5">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Phone number</label>
        <input type="text" name="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div>
    <div class="mb-5">
        <label for="fields[9100]" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose a program</label>
        <select name="fields[9100]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" label="-- Please Select --">-- Please Select Program --</option>
            <option value="Kids Martial Arts" label="Kids Martial Arts">Kids Martial Arts</option>
            <option value="Juniors/Teens Martial Arts" label="Juniors/Teens Martial Arts">Juniors/Teens Martial Arts</option>
            <option value="Adult Martial Arts" label="Adult Martial Arts">Adult Martial Arts</option>
        </select>
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form>


<div class="rg-container light">
  <div class= "container py-5 px-4 p-lg-4">
    <h1 class="text-center fw-bold">
      About Us
    </h1>
    <p>
      We are a Brazilian Jiu Jitsu school, affiliated with Subconscious Jiu Jitsu, that proud is of making this martial art safe and enjoyable for everyone.
    </p>
    <p>
      At Raven Grappling, we offer a professional training environment, where students can be as casual or competitive as they like. Regardless of the reason you choose to pursue martial arts, you can always rely on our ongoing commitment to help you achieve your goals.
    </p>
    <p>
      Whether you are a member or just visiting, you can count on being well treated and welcomed. Our priority is to create a fun and nurturing environment, where everyone can enjoy the benefits of Brazilian Jiu Jitsu as well as the wonderful people who practice it.
    </p>
  </div>
</div>

<div class="rg-container">
  <div class="container py-5 p-lg-4 rg-section-compare">
    <h1 class="text-center">Start Your Martial Arts Journey at the Right Place</h1>
    <p class="text-center fs-4 mb-5">
      What Makes Raven Grappling the Best Choice?
    </p>

    <div class="row rg-section-compare-lists">
      <div class="col">
        <h3 class="fw-bold">BJJ Programs at Raven Grappling</h3>
        <ul>
          <li>
            <i class="bi bi-check"></i>
            Structured Classes That Are Safe &amp; Engaging
          </li>
          <li>
            <i class="bi bi-check"></i>
            Kids, Teens & Beginners Learn From A Curriculum
          </li>
          <li>
            <i class="bi bi-check"></i>
            No Fixed Membership Contracts or Hidden Fees
          </li>
          <li>
            <i class="bi bi-check"></i>
            Receive Individual Feedback from Your Coaches
          </li>
          <li>
            <i class="bi bi-check"></i>
            Option To Buy Our Uniform or Bring Your Own
          </li>
        </ul>
      </div>

      <div class="col rg-section-compare-bad">
        <h3 class="fw-bold">BJJ Programs at “Other” Schools</h3>
        <ul>
          <li>
            <i class="bi bi-x"></i>
            No Class Structure & High Risk For Injuries
          </li>
          <li>
            <i class="bi bi-x"></i>
            Random Techniques Are Taught Everyday
          </li>
          <li>
            <i class="bi bi-x"></i>
            Limited Trial Period & Mandatory Contracts
          </li>
          <li>
            <i class="bi bi-x"></i>
            Instructors Do Not Pay Attention To Students
          </li>
          <li>
            <i class="bi bi-x"></i>
            Forced To Buy School Uniform & Merchandise
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="rg-container light">
  <div class="container py-5 px-4 p-lg-4">
    <h1 class="text-center fw-bold">Benefits of Brazilian Jiu Jitsu</h1>

    <div class="row">
      <div class="col-sm">
        <h3>Self-Defence</h3>
        <ul>
          <li>Become better in knowing how to stay safe & calm under pressure</li>
          <li>Learn how to defend yourself against bigger and stronger attackers</li>
          <li>Kids & Teens become more confident and learn how to keep bullies away</li>
        </ul>
      </div>
      <div class="col-sm">
        <h3>Physical Fitness</h3>
        <ul>
          <li>Amazing for getting a full-body workout that's fun and engaging</li>
          <li>Improve your strength, endurance, flexibility, and overall health</li>
          <li>Great for burning calories in a supportive group environment</li>
        </ul>
      </div>
      <div class="col-sm">
        <h3>Mental Benefits</h3>
        <ul>
          <li>Healthy stress release and positive habits for your wellbeing</li>
          <li>Develop a strong sense of self-worth, focus, and confidence</li>
          <li>Meet new people and build new long-lasting friendships</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="rg-container">
  <div class="container py-5 px-4 p-lg-4">
    <h1 class="text-center fw-bold">We Offer Programs To</h1>
    <div class="rg-image-buttons">
      <a href="/kids-teens">
        <div class="rg-image-button-kids"></div>
        <span>Kids / Teens</span>
      </a>
      <a href="/beginners">
        <div class="rg-image-button-beginners"></div>
        <span>Adult Beginners</span>
      </a>
      <a href="/advanced">
        <div class="rg-image-button-advanced"></div>
        <span>Adult Advanced</span>
      </a>
    </div>
  </div>
</div>

<div class="rg-container light">
  <div class="container py-5 px-4 p-lg-4">
    <h1 class="text-center">
      Our Community
    </h1>

    {% include members.html %}
  </div>
</div>

<div class="rg-container">
  <div class="container">
    {% include location-and-contact.html %}
  </div>
</div>
