<div class="row">
  <div class="col-lg container py-3 px-4 p-lg-3">
    <h1 class="fw-bold"> Location </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16066.539995990319!2d-122.86358341664906!3d49.24862088023849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x24b2c3e23fd40b0!2sRaven%20Grappling%20-%20Brazilian%20Jiu%20Jitsu!5e0!3m2!1sen!2sca!4v1673883392582!5m2!1sen!2sca" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="col-lg container py-3 px-4 p-lg-3">
    <h1 class="fw-bold">Connect With Us:</h1>
    <form accept-charset="utf-8" action="https://formspree.io/f/mrgvbpkg" method="post">
      <div class="form-floating mb-3">
        <input name="name" type="text" class="form-control" id="form-name" placeholder="John Doe">
        <label for="form-name" class="form-label">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input name="email" type="email" class="form-control" id="form-email" placeholder="john@example.org">
        <label for="form-email" class="form-label">Email Address</label>
      </div>
      <div class="form-floating mb-3">
        <textarea name="message" class="form-control" placeholder="Leave a message here" id="form-message"></textarea>
        <label for="form-message">Message</label>
      </div>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
  </div>
</div>
