@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "/assets/css/normalize.css";

:root {
  --raven-blue: rgb(28, 46, 79);
  --raven-red: rgb(235, 25, 70);
  --raven-gray: rgb(248, 249, 251);
  --gray-900: rgb(17, 24, 39);
  --max-width: 70rem;
  --nav-height: 70px;
  --shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

html {
  font-family: "Inter var", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  margin-top: var(--nav-height);
  color: var(--gray-900);
}

/* -- Typography ---------------------------------------------------------- */
h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  line-height: 46px;
  font-weight: 600;
}
h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

/* -- Utility -------------------------------------------------------------- */
.flex {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .flex {
    display: block;
    > * {
      margin-bottom: 2rem;
    }
  }
}

/* -- Section -------------------------------------------------------------- */
section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  &.padded {
    padding: 3rem 1rem;
  }
}

.section-bg {
  background-color: var(--raven-gray);
}

/* -- Form ---------------------------------------------------------------- */
form.formatted-form {
  .form-field {
    margin-bottom: 24px;
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: var(--gray-900);
      margin-bottom: 0.5rem;
    }
    input,
    select {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 24px;
      background-color: white;
      border: 0;
      border-radius: 6px;
      padding: 6px 12px;
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px inset,
        rgb(209, 213, 219) 0px 0px 0px 1px inset,
        rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
    select {
      appearance: none;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
      background-position: right 0.5rem center;
      background-repeat: no-repeat;
      background-size: 1.5em 1.5em;
      padding-right: 2.5rem;
    }
  }
  button {
    background-color: var(--raven-red);
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    width: 100%;
  }
}

form[data-leads-form] {
  .success-message,
  .failure-message {
    display: none;
  }
  &.success,
  &.failure {
    .form {
      display: none;
    }
  }
  &.success {
    .success-message {
      display: block;
    }
  }
  &.failure {
    .failure-message {
      display: block;
    }
  }
}

/* -- Navigation ----------------------------------------------------------- */
nav {
  background-color: var(--raven-blue);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--shadow);
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: var(--nav-height);
    .logo {
      height: 32px;
      img {
        height: 100%;
      }
    }
    button[data-nav-toggle] {
      height: 38px;
      width: 38px;
      color: white;
      display: none;
    }
    > ul {
      display: flex;
      gap: 10px;
      > li {
        position: relative;
        > a {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: white;
          text-decoration: none;
          padding: 8px 12px 10px 12px;
          border-radius: 6px;
          &:hover,
          &.active {
            background-color: var(--raven-red);
          }
          svg {
            color: white;
            height: 12px;
            width: 12px;
            margin-left: 5px;
            margin-top: 4px;
          }
        }
        > ul {
          position: absolute;
          z-index: 20;
          padding: 5px 0;
          box-shadow: var(--shadow);
          border-radius: 5px;
          background-color: white;
          display: none;
          &.show {
            display: block;
          }
          a {
            display: block;
            white-space: nowrap;
            font-size: 14px;
            color: var(--raven-blue);
            text-decoration: none;
            padding: 10px 20px;
            &:hover {
              color: var(--raven-red);
              background-color: var(--raven-gray);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    section {
      button[data-nav-toggle] {
        display: block;
        background-color: transparent;
        border: 0;
      }
      > ul {
        flex-basis: 100%;
        flex-grow: 1;
        display: none;
        padding: 10px 0;
        &.show {
          display: block;
        }
        > li {
          > a {
            margin-bottom: 5px;
          }
          > ul {
            position: relative;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

/* -- Footer --------------------------------------------------------------- */
footer {
  background-color: var(--raven-blue);

  iframe {
    margin-bottom: 2rem;
    border-radius: 6px;
  }

  a {
    color: white;
  }

  .contact-and-social {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      &:hover {
        opacity: 0.75;
      }
    }

    .contact {
      a {
        display: block;
        margin-bottom: 1rem;
      }
    }

    .social {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .contact-and-social {
      display: block;
      .contact {
        text-align: center;
        margin-bottom: 2rem;
      }
      .social {
        justify-content: center;
      }
    }
  }
}

/* -- Index ---------------------------------------------------------------- */
body.page-index {
  form[data-leads-form] {
    flex-shrink: 0;
    width: 350px;
    box-shadow: var(--shadow);
    padding: 1rem;
    border-radius: 6px;
  }
}

@media (max-width: 768px) {
  body.page-index {
    form[data-leads-form] {
      width: 100%;
    }
  }
}
