@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "/assets/css/normalize.css";

:root {
  --raven-blue: rgb(28, 46, 79);
  --raven-red: rgb(235, 25, 70);
  --raven-gray: rgb(248, 249, 251);
  --max-width: 70rem;
  --nav-height: 70px;
  --shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

html {
  font-family: "Inter var", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* -- Reset ---------------------------------------------------------------- */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  margin-top: var(--nav-height);
}

/* -- Section -------------------------------------------------------------- */
section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  &.padded {
    padding: 3rem 1rem;
  }
}

/* -- Navigation ----------------------------------------------------------- */
nav {
  background-color: var(--raven-blue);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--shadow);
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: var(--nav-height);
    .logo {
      height: 32px;
      img {
        height: 100%;
      }
    }
    button[data-nav-toggle] {
      height: 38px;
      width: 38px;
      color: white;
      display: none;
    }
    > ul {
      display: flex;
      gap: 10px;
      > li {
        position: relative;
        > a {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: white;
          text-decoration: none;
          padding: 8px 12px 10px 12px;
          border-radius: 6px;
          &:hover,
          &.active {
            background-color: var(--raven-red);
          }
          svg {
            color: white;
            height: 12px;
            width: 12px;
            margin-left: 5px;
            margin-top: 4px;
          }
        }
        > ul {
          position: absolute;
          z-index: 20;
          padding: 5px 0;
          box-shadow: var(--shadow);
          border-radius: 5px;
          background-color: white;
          display: none;
          &.show {
            display: block;
          }
          a {
            display: block;
            white-space: nowrap;
            font-size: 14px;
            color: var(--raven-blue);
            text-decoration: none;
            padding: 10px 20px;
            &:hover {
              color: var(--raven-red);
              background-color: var(--raven-gray);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    section {
      button[data-nav-toggle] {
        display: block;
        background-color: transparent;
        border: 0;
      }
      > ul {
        flex-basis: 100%;
        flex-grow: 1;
        display: none;
        padding: 10px 0;
        &.show {
          display: block;
        }
        > li {
          > a {
            margin-bottom: 5px;
          }
          > ul {
            position: relative;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

/* -- Footer --------------------------------------------------------------- */
footer {
  background-color: var(--raven-blue);

  iframe {
    margin-bottom: 2rem;
    border-radius: 6px;
  }

  a {
    color: white;
  }

  .contact-and-social {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      &:hover {
        opacity: 0.75;
      }
    }

    .contact {
      a {
        display: block;
        margin-bottom: 1rem;
      }
    }

    .social {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .contact-and-social {
      display: block;
      .contact {
        margin-bottom: 2rem;
      }
    }
  }
}

/* -- Index ---------------------------------------------------------------- */
body.page-index {
}
