---
title: Raven Grappling - Adults Brazilian Jiu Jitsu Coquitlam
layout: default
permalink: /adult-beginner-brazilian-jiu-jitsu-coquitlam
---

<div class="hero">
  <section class="flex items-center gap-lg">
    <div class="hero-content">
      <h1>
        Adults Beginner Program
        <small>Ages 15+</small>
      </h1>
    </div>

    {% include leads_form.html program="adult-beginner" %}
  </section>
</div>

<div class="section-bg">
  <section>
    <div class="flex flex-reverse">
      <div>
        <h2>What to Expect</h2>
        <p>
          <strong>Structured Curriculum:</strong>
          Each class will typically include a warm-up, technique instruction, drilling, and positional sparring, allowing you to apply what you’ve learned in a safe environment.
        </p>
        <p>
          <strong>Fundamental Techniques:</strong>
          You’ll learn essential positional techniques, which include: controls, escapes, submissions, and sweeps, which will all provide you with a solid foundation for your BJJ journey.
        </p>
        <p>
          <strong>Safe Training Environment:</strong>
          We prioritize safety and respect in our training space. This allows everyone to practice techniques with partners of varying skill levels while minimizing the risk of injury.
        </p>
        <p>
          <strong>Supportive Community:</strong>
          Join a welcoming community of beginners who share the same interest of wanting to learn something new, all while having a good workout that is both fun and challenging.
        </p>
      </div>

      <div class="section-image">
        <img src="/assets/images/programs/adult-beginner/1.jpg" alt="Adult Beginner Brazilian Jiu Jitsu Coquitlam">
      </div>
    </div>
  </section>
</div>

<section>
  <div class="flex">
    <div>
      <h2>Benefits of the Program</h2>

      <p>
        <strong>Improved Fitness:</strong>
        Enhance your strength, flexibility, and cardiovascular endurance through engaging and challenging full-body workout.
      </p>
      <p>
        <strong>Self-Defense Skills:</strong>
        Gain practical self-defense techniques that empower you to handle real-life situations with confidence and awareness.
      </p>
      <p>
        <strong>Stress Relief:</strong>
        Experience a natural outlet for your everyday stress that improves overall mental wellbeing, through physical activity and community.
      </p>
      <p>
        <strong>Social Connections:</strong>
        Meet new friends and build a supportive community of like-minded individuals, fostering relationships that extend beyond the mat.
      </p>
    </div>

    <div class="section-image">
      <img src="/assets/images/programs/adult-beginner/2.jpg" alt="Adult Beginner Brazilian Jiu Jitsu Coquitlam">
    </div>
  </div>
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">
      What Our Members Say About Us
    </h2>
    <p class="subheader text-center">
      and a lot more on
      <a href="{{ site.reviews_url }}" target="_blank">
        Google
      </a>
    </p>
    <div class="reviews">
      {% include reviews/nikita.html %}
      {% include reviews/ali.html %}
      {% include reviews/hart.html %}
    </div>
  </section>
</div>

<section class="text-center">
  <a href="#leads-form" class="large-button" data-scroll-button>
    Get Started Today
  </a>
</section>
