---
title: Raven Grappling - Adult All Levels Brazilian Jiu Jitsu Coquitlam
layout: default
permalink: /adult-all-levels-brazilian-jiu-jitsu-coquitlam
meta_desc:
---

<div class="hero">
  <section class="flex items-center gap-lg">
    <div class="hero-content">
      <h1>
        Adults All Levels Program
        <small>Ages 15+</small>
      </h1>
    </div>

    {% include leads_form.html program="adult-all-levels" %}
  </section>
</div>


<div class="section-bg">
  <section>
    <div class="flex flex-reverse">
      <div>
        <h2>What to Expect</h2>

        <p>
          <strong>Inclusive Learning Environment:</strong>
          Our All-levels class caters to beginner and experienced students, allowing everyone to learn at their own pace. Beginners will develop a solid foundation of techniques and concepts, while experianced students will improve their skills, explore complex strategies, as well as mentor others.
        </p>
        <p>
          <strong>Safety and Respect:</strong>
          This class is all about upholding a safe training environment. Instructors will set clear guidelines and expectations for respectful practice and injury prevention, encouraging students to communicate about comfort levels during sparring.
        </p>
        <p>
          <strong>Positional Sparring:</strong>
          This class includes a time for positional sparring, where you and your partner start in specific positions to practice techniques that you have learned in that class. This helps everyone apply what they have learned and adapt to a partner that is provinding moderate resistance.
        </p>
        <p>
          <strong>Free Sparring:</strong>
          During the last rounds of the class, students are encouraged to engage in free sparring, where they get the opportunity to test their skill against different training partners. This is an important part of BJJ as it allows you to see how your knowledge of techniques, strategies, and movements can overcome other experienced practitioners.
        </p>
      </div>

      <div class="section-image">
        <img src="/assets/images/programs/adult-all-levels/1.jpg" alt="Adult All Levels Brazilian Jiu Jitsu Coquitlam">
      </div>
    </div>
  </section>
</div>

<section>
  <div class="flex">
    <div>
      <h2>Benefits of the Program</h2>

      <p>
        <strong>Community Support:</strong>
        Students often form friendships with peers from various backgrounds and skill levels. This positive atmosphere will make your learning more enjoyable and will help you stay committed to your personal growth and progress.
      </p>
      <p>
        <strong>Physical Fitness:</strong>
        BJJ is known to provide you with a full-body workout that improves your strength, flexibility, endurance, and cardiovascular health. The movements that you do in training will improve your physical fitness and promote a healthy lifestyle.
      </p>
      <p>
        <strong>Diverse Training Partners:</strong>
        Training alongside students that come from different experience levels will expose you to a wide range of styles, strategies, and challenges that you will need to adapt to. This training environment is vital in making sure that your overall skill and understanding of BJJ continues to get better.
      </p>
      <p>
        <strong>Stress Relief:</strong>
        Engaging in physical activity, particularly a martial art like BJJ, will help reduce stress. Through regular practice, you’ll develop healthier coping mechanisms for managing your emotions, fostering a more balanced mindset and outlook.
      </p>
    </div>

    <div class="section-image">
      <img src="/assets/images/programs/adult-all-levels/2.jpg" alt="Adult All Levels Brazilian Jiu Jitsu Coquitlam">
    </div>
  </div>
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">
      What Our Members Say About Us
    </h2>
    <p class="subheader text-center">
      and a lot more on
      <a href="{{ site.reviews_url }}" target="_blank">
        Google
      </a>
    </p>
    <div class="reviews">
      {% include reviews/afnan.html %}
      {% include reviews/stefan.html %}
      {% include reviews/ivan.html %}
    </div>
  </section>
</div>

<section class="text-center">
  <a href="#leads-form" class="large-button" data-scroll-button>
    Get Started Today
  </a>
</section>
