---
title: Raven Grappling - Coquitlam Brazilian Jui Jitsu Martial Arts Studio
layout: default
permalink: /
---

<div class="hero">
  <section class="flex items-center gap-lg">
    <div class="hero-content">
      <h1>
        Experience Modern Martial Arts<br>
        at Raven Grappling
      </h1>
      <p>
        We make Brazilian Jiu Jitsu (BJJ) safe and enjoyable for all ages and experience levels.
      </p>
      <p>
        Join us to start your martial arts journey the right way!
      </p>

      <div class="location">
        {% include svg/map-pin.svg %}
        <div>
          Austin Heights, Coquitlam<br>
          5 minutes from Lougheed Town Centre
        </div>
      </div>
    </div>

    {% include leads_form.html %}
  </section>
</div>

<section>
  <h2 class="text-center">
    Learn More About Our Programs
  </h2>
  <div class="programs flex">
    {% for program in site.programs %}
      <a href="{{program.url}}">
        <div class="image" style="background-image: url(/assets/images/programs/{{program.id}}/button.jpg)">
        </div>
        {{program.name | remove: " Brazilian Jiu Jitsu"}}
      </a>
    {% endfor %}
  </div>
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">What Makes Raven Grappling the <u>BEST</u> Choice?</h2>

    <p class="subheader text-center">
       Start Your Martial Arts Journey at the Right Place
    </p>

    <div class="compare flex">
      <div>
        <h3 class="text-center">BJJ Programs at Raven Grappling</h3>
        <ul class="ours">
          <li>
            {% include svg/check.svg %}
            Structured, Safe &amp; Engaging Classes
          </li>
          <li>
            {% include svg/check.svg %}
            Curriculum for Kids, Teens & Beginners
          </li>
          <li>
            {% include svg/check.svg %}
            No Fixed Membership Contracts
          </li>
          <li>
            {% include svg/check.svg %}
            Individual Feedback from the Coaches
          </li>
          <li>
            {% include svg/check.svg %}
            Open Uniform Policy
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-center">BJJ Programs at <u>Other</u> Schools</h3>
        <ul class="theirs">
          <li>
            {% include svg/x-mark.svg %}
            No Class Structure & High Risk For Injuries
          </li>
          <li>
            {% include svg/x-mark.svg %}
            Random Techniques & Slow Improvement
          </li>
          <li>
            {% include svg/x-mark.svg %}
            Mandatory & Long-Term Fixed Contracts
          </li>
          <li>
            {% include svg/x-mark.svg %}
            No Student Guidance From Instructors
          </li>
          <li>
            {% include svg/x-mark.svg %}
            Forced To Buy School Uniforms & Merch
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<section>
  <h2 class="text-center">
    What Our Members Say About Us
  </h2>
  <p class="subheader text-center">
    and a lot more on
    <a href="{{ site.reviews_url }}" target="_blank">
      Google
    </a>
  </p>
  <div class="reviews">
    {% include reviews/will.html %}
    {% include reviews/asif.html %}
    {% include reviews/gerald.html %}
  </div>
</section>

<div class="section-bg">
  <section class="text-center">
    <a href="#leads-form" class="large-button" data-scroll-button>
      Get Started Today
    </a>
  </section>
</div>
