---
title: Raven Grappling - Coquitlam Brazilian Jui Jitsu Martial Arts Studio
layout: default
permalink: /
---

<div class="hero">
  <section class="flex items-center gap-lg">
    <div class="hero-content">
      <h1>
        Experience Modern Martial Arts<br>
        at Raven Grappling
      </h1>
      <p>
        We make Brazilian Jiu Jitsu (BJJ) safe and enjoyable for all ages and experience levels.
      </p>
      <p>
        Join us to start your martial arts journey the right way!
      </p>

      <div class="location">
        {% include svg/map-pin.svg %}
        <div>
          Austin Heights, Coquitlam<br>
          5 minutes from Lougheed Town Centre
        </div>
      </div>
    </div>

    {% include leads_form.html %}
  </section>
</div>

<section>
  <h2 class="text-center">
    Learn More About Our Programs
  </h2>
  <div class="programs flex">
    {% for program in site.programs %}
      <a href="{{program.url}}">
        <div class="image" style="background-image: url(/assets/images/programs/{{program.id}}/button.jpg)">
        </div>
        {{program.name | remove: " Brazilian Jiu Jitsu"}}
      </a>
    {% endfor %}
  </div>
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">Start Your Martial Arts Journey at the Right Place</h2>

    <p class="subheader text-center">
      What Makes Raven Grappling the Best Choice?
    </p>

    <div class="compare flex">
      <div>
        <h3 class="text-center">BJJ Programs at Raven Grappling</h3>
        <ul class="ours">
          <li>
            {% include svg/check.svg %}
            Structured Classes That Are Safe &amp; Engaging
          </li>
          <li>
            {% include svg/check.svg %}
            Kids, Teens & Beginners Learn From A Curriculum
          </li>
          <li>
            {% include svg/check.svg %}
            No Fixed Membership Contracts or Hidden Fees
          </li>
          <li>
            {% include svg/check.svg %}
            Receive Individual Feedback from Your Coaches
          </li>
          <li>
            {% include svg/check.svg %}
            Option To Buy Our Uniform or Bring Your Own
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-center">BJJ Programs at Other Schools</h3>
        <ul class="theirs">
          <li>
            {% include svg/x-mark.svg %}
            No Class Structure & High Risk For Injuries
          </li>
          <li>
            {% include svg/x-mark.svg %}
            Random Techniques Are Taught Everyday
          </li>
          <li>
            {% include svg/x-mark.svg %}
            Limited Trial Period & Mandatory Contracts
          </li>
          <li>
            {% include svg/x-mark.svg %}
            Instructors Do Not Pay Attention To Students
          </li>
          <li>
            {% include svg/x-mark.svg %}
            Forced To Buy School Uniform & Merchandise
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<section>
  <h2 class="text-center">Benefits of Training Brazilian Jiu Jitsu</h2>

  <div class="flex">
    <div>
      <h3 class="text-center">Self-Defence</h3>
      <ul>
        <li>Become better in knowing how to stay safe & calm under pressure</li>
        <li>Learn how to defend yourself against bigger and stronger attackers</li>
        <li>Kids & Teens become more confident and learn how to keep bullies away</li>
      </ul>
    </div>

    <div>
      <h3 class="text-center">Physical Fitness</h3>
      <ul>
        <li>Amazing for getting a full-body workout that's fun and engaging</li>
        <li>Improve your strength, endurance, flexibility, and overall health</li>
        <li>Great for burning calories in a supportive group environment</li>
      </ul>
    </div>

    <div>
      <h3 class="text-center">Mental Benefits</h3>
      <ul>
        <li>Healthy stress release and positive habits for your wellbeing</li>
        <li>Develop a strong sense of self-worth, focus, and confidence</li>
        <li>Meet new people and build new long-lasting friendships</li>
      </ul>
    </div>
  </div>
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">
      Read some of the Reviews
    </h2>
    <p class="subheader text-center">
      and a lot more on
      <a href="{{ site.reviews_url }}" target="_blank">
        Google
      </a>
    </p>
    <div class="reviews flex">
      <div>
        <img src="/assets/images/index/reviews/1.png">
      </div>
      <div>
        <img src="/assets/images/index/reviews/2.png">
      </div>
      <div>
        <img src="/assets/images/index/reviews/3.png">
      </div>
    </div>
  </section>
</div>

<section class="text-center">
  <a href="#leads-form" class="large-button" data-scroll-button>
    Get Started Today
  </a>
</section>
