<!doctype html>
<html lang="en">
  {% include layout/head.html %}

  <body class="page-{{ page.name | remove: ".html" }}">
    {% include layout/nav.html %}

    {% unless page.name contains "summer-camp" %}
      <a class="banner" href="/bjj-summer-camp-2026">
        Jiu Jitsu Summer Camp - Registrations are CLOSED!
      </a>
    {% endunless %}

    <main>
      {{ content }}
    </main>

    {% include layout/footer.html %}

    <script src="/assets/js/raven.js?v={{ site.time | date:'%s' }}"></script>
  </body>
</html>
